@keyframes loginpageanim {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes loginpagegone {

    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-70px);
    }

    
  }

  .login-animation {
    animation: loginpageanim 0.5s ease-out forwards;
  }

  .logingone-anim{
    animation:loginpagegone 0.2s ease-out forwards 
  }
  