<div class="fixed inset-0 z-50 flex items-center justify-center">
  <table
    class="max-w-90 min-w-90 rounded-xl border-gray-400 bg-white p-6 shadow-xl"
  >
    <tbody>
      <!-- Login/Signup Tabs -->
      <tr class="border border-gray-400">
        <td
          class="cursor-pointer border-r border-r-gray-400 pt-5 pr-12 pb-5 pl-12 text-center font-serif text-2xl font-bold"
        >
          <button class="cursor-pointer hover:text-blue-600">
            Reset Password
          </button>
        </td>
      </tr>
      <tr class="bg-gray-200">
        <td colspan="2">
          <h1 class="text-red-500 text-center mt-5">{{ errormsg }}</h1>
        </td>
      </tr>
      <tr class="bg-gray-200">
        <td colspan="2">
          <div class="flex justify-center pt-20">
            <input
              [(ngModel)]="newpassword"
              type="text"
              class="w-76 p-2 border border-gray-700 outline-none font-bold bg-white"
              placeholder="New Password"
              (input)="this.errormsg = ''"
            />
          </div>
        </td>
      </tr>

      <tr class="bg-gray-200">
        <td colspan="2">
          <div class="flex justify-center py-4 pb-20">
            <input
              [(ngModel)]="confirmpassword"
              type="text"
              class="w-76 p-2 border border-gray-700 outline-none font-bold bg-white"
              placeholder="Re-enter Password"
              (input)="this.errormsg = ''"
            />
          </div>
        </td>
      </tr>

      <tr>
        <td
          colspan="2"
          class="relative left-13.5 border-t border-t-gray-400 p-5"
        >
          <button
            (click)="closebtn()"
            class="cursor-pointer bg-gray-600 px-5.5 py-2.5 font-bold text-white hover:bg-gray-800"
          >
            Close
          </button>
          <button
            (click)="submitpassdetails()"
            class="ml-4 cursor-pointer bg-gray-600 px-5.5 py-2.5 font-bold text-white outline hover:bg-gray-800"
          >
            Submit
          </button>
          <div
            *ngIf="loading"
            class="mt-6 ml-4 inline-block h-6 w-6 animate-spin rounded-full border-4 border-gray-500 border-t-transparent"
          ></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
