<!-- <app-loginsign></app-loginsign> -->
<div class="flex flex-col items-center justify-center text-center mt-25">
    <h1 class="text-xl font-bold text-gray-400">
      You are not authorized to post a job
    </h1>  
    <h1 class="text-xl font-bold text-gray-400 mt-2">
      Please login with a valid business email
    </h1>
    <button class="cursor-pointer mt-5 outline px-4 py-2 font-bold font-serif text-white bg-gray-500" (click)="visible = true">
      Re-Check
    </button>

    <h1 *ngIf="visible" class="text-red-500 font-bold text-1xl mt-2">Invalid business email</h1>
  </div>